@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Libre+Franklin:700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
code,
pre {
  font-family: monospace, monospace;
  margin: 0;
  padding: 0;
  tab-size: 4; }

code {
  color: #FF4136;
  display: inline-block;
  font-weight: 700; }
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    color: inherit; }

pre {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  font-size: 0.77778em;
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  display: block;
  line-height: 1.57143em;
  max-width: 100%;
  overflow: auto;
  padding: 1.5em; }
  pre:first-child {
    margin-top: 0; }
  pre:last-child {
    margin-bottom: 0; }
  pre code {
    background: none;
    color: inherit;
    display: block;
    font-weight: inherit;
    padding: 0;
    width: 100%; }

* html {
  font-size: 112.5%; }

html {
  font-size: 18px;
  line-height: 1.55556em; }

*,
*:before,
*:after {
  box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #222;
  font-family: Merriweather, Georgia, serif; }

form,
label,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0; }

fieldset,
legend {
  padding: 0; }

form,
details {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  display: block; }
  form:first-child,
  details:first-child {
    margin-top: 0; }
  form:last-child,
  details:last-child {
    margin-bottom: 0; }

details {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd; }

summary {
  background-color: #ddd;
  display: list-item;
  font-weight: 700;
  padding: 0.58333em; }
  summary:focus {
    outline: none; }

details {
  padding-left: 1.16667em;
  padding-right: 1.16667em; }

details[open] {
  padding-bottom: 1.16667em; }

summary {
  margin-left: -1.16667em;
  margin-right: -1.16667em; }

details[open] summary {
  margin-bottom: 1.16667em; }

details[open] summary {
  border-bottom: 1px solid #ddd; }

details {
  padding-left: 1.16667em;
  padding-right: 1.16667em; }

details[open] {
  padding-bottom: 1.16667em; }

summary {
  margin-left: -1.16667em;
  margin-right: -1.16667em; }

details[open] summary {
  margin-bottom: 1.16667em; }

label {
  margin-top: 0.58333em;
  margin-bottom: 0.58333em;
  display: block;
  font-weight: 700; }
  label:first-child {
    margin-top: 0; }
  label:last-child {
    margin-bottom: 0; }

fieldset {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  border: 0;
  padding: 0; }
  fieldset:first-child {
    margin-top: 0; }
  fieldset:last-child {
    margin-bottom: 0; }

legend {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  display: block;
  width: 100%; }
  legend:first-child {
    margin-top: 0; }
  legend:last-child {
    margin-bottom: 0; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select,
textarea {
  font-size: 0.88889em;
  line-height: 1.625em;
  padding: 0.3125em 0.625em; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select {
  height: 2.375em; }

select {
  background-position: calc(100% - 0.55556em) center;
  padding-right: 1.55556em; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  font-family: inherit;
  max-width: 100%;
  overflow: hidden;
  width: auto; }
  input[type="text"]:first-child, input[type="password"]:first-child, input[type="date"]:first-child, input[type="datetime"]:first-child, input[type="datetime-local"]:first-child, input[type="month"]:first-child, input[type="week"]:first-child, input[type="email"]:first-child, input[type="number"]:first-child, input[type="search"]:first-child, input[type="tel"]:first-child, input[type="time"]:first-child, input[type="url"]:first-child,
  select:first-child,
  textarea:first-child {
    margin-top: 0; }
  input[type="text"]:last-child, input[type="password"]:last-child, input[type="date"]:last-child, input[type="datetime"]:last-child, input[type="datetime-local"]:last-child, input[type="month"]:last-child, input[type="week"]:last-child, input[type="email"]:last-child, input[type="number"]:last-child, input[type="search"]:last-child, input[type="tel"]:last-child, input[type="time"]:last-child, input[type="url"]:last-child,
  select:last-child,
  textarea:last-child {
    margin-bottom: 0; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ddd; }
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #ddd; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #ddd; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #ddd; }

select {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNyA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3IDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNNi45MjcwODM1LDIuMTg1MzU3M2wtMy40MjIzMDMsMy40MjIzMDNMMy41MDEyMzkzLDUuNjA0MTE4OEwzLjQ5NTIxOTUsNS42MTAwMjA2TDAuMDcyOTE2NywyLjE4NzcxODJsMC41MTI3NjExLTAuNTEyNzYxMmwyLjkxMzA4MjgsMi45MTMwODMxbDIuOTE1NTYxNy0yLjkxNTQ0MzdMNi45MjcwODM1LDIuMTg1MzU3M3oiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: 10px; }
  select::-ms-expand {
    display: none; }

select[multiple] {
  background-image: none;
  height: auto; }

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical; }

input[type='radio'],
input[type='checkbox'] {
  margin-right: .25em; }

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0; }

ul,
ol,
dl {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  ul:first-child,
  ol:first-child,
  dl:first-child {
    margin-top: 0; }
  ul:last-child,
  ol:last-child,
  dl:last-child {
    margin-bottom: 0; }

ul,
ol {
  padding-left: 2em; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
    margin-top: 0; }

dl dt {
  font-weight: bold; }

dl dd {
  margin-top: 0.29167em;
  margin-bottom: 0.29167em; }
  dl dd:first-child {
    margin-top: 0; }
  dl dd:last-child {
    margin-bottom: 0; }

img,
iframe,
figure,
figcaption {
  margin: 0;
  padding: 0; }

embed,
img,
object,
video {
  height: auto;
  max-width: 100%; }

figure {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  figure:first-child {
    margin-top: 0; }
  figure:last-child {
    margin-bottom: 0; }
  figure figcaption {
    margin-top: 0.58333em;
    margin-bottom: 0.58333em; }
    figure figcaption:first-child {
      margin-top: 0; }
    figure figcaption:last-child {
      margin-bottom: 0; }

picture {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  display: block; }
  picture:first-child {
    margin-top: 0; }
  picture:last-child {
    margin-bottom: 0; }

table,
caption,
thead,
tbody,
tfoot,
tr,
td,
th {
  margin: 0;
  padding: 0; }

table {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  width: 100%; }
  table:first-child {
    margin-top: 0; }
  table:last-child {
    margin-bottom: 0; }
  table table {
    border: 0;
    margin-bottom: 0;
    margin-top: 0; }
  table caption {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em;
    text-align: left; }
    table caption:first-child {
      margin-top: 0; }
    table caption:last-child {
      margin-bottom: 0; }
  table td,
  table th {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0.58333em;
    text-align: left;
    vertical-align: middle; }
    table td:last-child,
    table th:last-child {
      border-right: 0; }
  table th {
    font-weight: 700; }
  table thead th {
    background-color: #ddd; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
hr {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 2em;
  line-height: 1.27778;
  margin-top: 0.58333em;
  margin-bottom: 0.58333em; }

h2 {
  font-size: 1.33333em;
  line-height: 1.5;
  margin-top: 0.875em;
  margin-bottom: 0.875em; }

h3 {
  font-size: 1em;
  line-height: 1.55556;
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }

h4 {
  font-size: 0.88889em;
  line-height: 1.5;
  margin-top: 1.3125em;
  margin-bottom: 1.3125em; }

h5 {
  font-size: 0.77778em;
  line-height: 1.42857;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h6 {
  font-size: 0.66667em;
  line-height: 1.5;
  margin-top: 1.75em;
  margin-bottom: 1.75em; }

p {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

address {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  font-style: normal; }
  address:first-child {
    margin-top: 0; }
  address:last-child {
    margin-bottom: 0; }

blockquote {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  padding-left: 2em; }
  blockquote:first-child {
    margin-top: 0; }
  blockquote:last-child {
    margin-bottom: 0; }
  blockquote *:first-child {
    margin-top: 0; }
  blockquote *:last-child {
    margin-bottom: 0; }
  blockquote cite {
    display: block; }
  blockquote p {
    font-size: 1.33333em;
    line-height: 1.5;
    margin-top: 0.875em;
    margin-bottom: 0.875em; }
    blockquote p:first-child {
      margin-top: 0; }
    blockquote p:last-child {
      margin-bottom: 0; }

cite {
  font-style: italic; }

hr {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  background: #ddd;
  border: 0;
  height: 1px; }
  hr:first-child {
    margin-top: 0; }
  hr:last-child {
    margin-bottom: 0; }

a {
  color: #0074D9;
  text-decoration: none;
  word-wrap: break-word; }
  a:hover, a:focus {
    color: #222; }

small {
  font-size: 0.77778em;
  line-height: 1.42857; }

mark {
  background: linear-gradient(to bottom, transparent 0, transparent 80%, #ffdc00 80%, #ffdc00 100%);
  border-bottom: 2px solid #ffdc00; }

.back {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  border-top: 1px dotted #ddd;
  padding-top: 1.16667em;
  text-decoration: underline; }
  @media (min-width: 48em) {
    .back {
      margin-top: 2.33333em;
      margin-bottom: 2.33333em; } }
  .back:first-child {
    margin-top: 0; }
  .back:last-child {
    margin-bottom: 0; }

.brand {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .brand:first-child {
    margin-top: 0; }
  .brand:last-child {
    margin-bottom: 0; }
  .brand a {
    background: url("/img/logo.svg");
    background-size: cover;
    display: block;
    height: 1.27778em;
    overflow: hidden;
    text-align: left;
    text-indent: -999999px;
    width: 5.55556em; }
    @media (min-width: 64em) {
      .brand a {
        height: 1.55556em;
        width: 6.77778em; } }

.callout {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  padding-bottom: 1.16667em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.16667em; }
  .callout:first-child {
    margin-top: 0; }
  .callout:last-child {
    margin-bottom: 0; }
  @media (min-width: 48em) {
    .callout {
      padding-bottom: 2.33333em; } }
  @media (min-width: 64em) {
    .callout {
      padding-bottom: 3.5em; } }
  @media (min-width: 85.375em) {
    .callout {
      padding-bottom: 0em; } }
  @media (min-width: 85.375em) {
    .callout {
      *zoom: 1; }
      .callout:after {
        content: "";
        display: table;
        clear: both; } }
  .callout * {
    margin-top: 0; }
  .callout a {
    text-decoration: underline; }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .callout section {
      padding-left: 8.51064%;
      padding-right: 8.51064%; } }
  @media (min-width: 85.375em) {
    .callout section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      left: 0;
      max-width: 65em;
      margin: auto;
      padding-right: 31.66667em;
      position: absolute;
      right: 0; } }
  @media (min-width: 85.375em) {
    .callout h1 {
      font-size: 2.66667em;
      line-height: 1.25;
      margin-bottom: 0.4375em; }
      .callout h1:first-child {
        margin-top: 0; }
      .callout h1:last-child {
        margin-bottom: 0; } }
  .callout h1 + p {
    font-size: 1.33333em;
    line-height: 1.5;
    margin-bottom: 0.875em; }
    .callout h1 + p:first-child {
      margin-top: 0; }
    .callout h1 + p:last-child {
      margin-bottom: 0; }
  .callout h2 {
    font-size: 0.77778em;
    line-height: 1.42857;
    font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .callout picture {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em; }
    @media (min-width: 48em) {
      .callout picture {
        margin-top: 2.33333em;
        margin-bottom: 2.33333em; } }
    @media (min-width: 64em) {
      .callout picture {
        margin-top: 3.5em;
        margin-bottom: 3.5em; } }
    .callout picture:first-child {
      margin-top: 0; }
    .callout picture:last-child {
      margin-bottom: 0; }
    @media (min-width: 85.375em) {
      .callout picture {
        float: right;
        height: 100vh;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        position: relative;
        width: 45%; } }
  .callout source,
  .callout img {
    display: block; }
    @media (min-width: 85.375em) {
      .callout source,
      .callout img {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        height: 100%;
        margin: auto;
        max-width: initial;
        position: absolute;
        right: 0;
        top: 50%;
        width: auto; } }
  .callout svg {
    margin-top: 0.58333em;
    margin-bottom: 0.58333em;
    fill: #FF4136;
    height: 2.22222em;
    width: 2.22222em; }
    .callout svg:first-child {
      margin-top: 0; }
    .callout svg:last-child {
      margin-bottom: 0; }
  .callout ul,
  .callout ul > li {
    display: block;
    margin: 0;
    padding: 0; }
  .callout ul {
    *zoom: 1; }
    .callout ul:after {
      content: "";
      display: table;
      clear: both; }
  .callout ul > li {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em; }
    .callout ul > li:first-child {
      margin-top: 0; }
    .callout ul > li:last-child {
      margin-bottom: 0; }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .callout ul > li {
        width: 48.93617%;
        float: left; }
        .callout ul > li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .callout ul > li:nth-child(2n + 2) {
          margin-left: 51.06383%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 85.375em) {
      .callout ul > li {
        width: 47.36842%;
        float: left;
        margin-bottom: 0;
        margin-top: 1.16667em; }
        .callout ul > li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .callout ul > li:nth-child(2n + 2) {
          margin-left: 52.63158%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 48em) {
      .callout ul > li:first-child {
        margin-top: 1.16667em; } }

.content__inner {
  padding-top: 1.16667em;
  padding-bottom: 1.16667em; }
  @media (min-width: 48em) {
    .content__inner {
      padding-top: 2.33333em;
      padding-bottom: 2.33333em; } }
  @media (min-width: 64em) {
    .content__inner {
      padding-top: 4.66667em;
      padding-bottom: 4.66667em; } }

.copyright {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .copyright:first-child {
    margin-top: 0; }
  .copyright:last-child {
    margin-bottom: 0; }
  .copyright p {
    font-size: 0.88889em;
    line-height: 1.5;
    margin: 0; }

.entries {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .entries:first-child {
    margin-top: 0; }
  .entries:last-child {
    margin-bottom: 0; }
  .entries h2 {
    font-size: inherit;
    line-height: inherit;
    margin: 0; }
  .entries ol,
  .entries li {
    display: block;
    margin: 0;
    padding: 0; }
  .entries ol {
    *zoom: 1; }
    .entries ol:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 85.375em) {
      .entries ol {
        margin-top: -0.29167em; } }
  .entries li {
    margin-top: 0.29167em;
    margin-bottom: 0.29167em; }
    .entries li:first-child {
      margin-top: 0; }
    .entries li:last-child {
      margin-bottom: 0; }
    @media (min-width: 85.375em) {
      .entries li {
        padding-left: 5.55556em;
        position: relative; } }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .entries li {
        width: 48.93617%;
        float: left;
        margin-bottom: 0;
        margin-top: 0.29167em; }
        .entries li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .entries li:nth-child(2n + 2) {
          margin-left: 51.06383%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 85.375em) {
      .entries li {
        width: 48.71795%;
        float: left;
        margin-bottom: 0;
        margin-top: 0.29167em; }
        .entries li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .entries li:nth-child(2n + 2) {
          margin-left: 51.28205%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 64em) {
      .entries li:first-child {
        margin-top: 0.29167em; } }
  .entries p {
    margin: 0; }
    @media (min-width: 85.375em) {
      .entries p {
        left: 0;
        position: absolute;
        top: 0; } }
  .entries a {
    display: block; }

.entry h3 {
  text-transform: uppercase; }

.entry > header,
.entry > div {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .entry > header:first-child,
  .entry > div:first-child {
    margin-top: 0; }
  .entry > header:last-child,
  .entry > div:last-child {
    margin-bottom: 0; }

@media (min-width: 64em) {
  .entry > header > h1 {
    font-size: 2.66667em;
    line-height: 1.25;
    margin-top: 0.4375em;
    margin-bottom: 0.4375em; }
    .entry > header > h1:first-child {
      margin-top: 0; }
    .entry > header > h1:last-child {
      margin-bottom: 0; } }

.footer {
  padding-top: 1.16667em;
  padding-bottom: 1.16667em;
  border-top: 1px solid #eee; }
  @media (min-width: 48em) {
    .footer {
      padding-top: 2.33333em;
      padding-bottom: 2.33333em; } }
  .footer .footer__inner {
    padding-left: 1em;
    padding-right: 1em;
    *zoom: 1; }
    @media (max-width: 47.9375em) {
      .footer .footer__inner {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        .footer .footer__inner:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 48em) and (max-width: 63.9375em) {
      .footer .footer__inner {
        max-width: 35.55556em;
        margin-left: auto;
        margin-right: auto; }
        .footer .footer__inner:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .footer .footer__inner {
        max-width: 52.22222em;
        margin-left: auto;
        margin-right: auto; }
        .footer .footer__inner:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 85.375em) {
      .footer .footer__inner {
        max-width: 65em;
        margin-left: auto;
        margin-right: auto; }
        .footer .footer__inner:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 48em) {
      .footer .footer__inner {
        padding-left: 0;
        padding-right: 0; } }
    .footer .footer__inner:after {
      content: "";
      display: table;
      clear: both; }
  .footer .copyright,
  .footer .menu {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em; }
    .footer .copyright:first-child,
    .footer .menu:first-child {
      margin-top: 0; }
    .footer .copyright:last-child,
    .footer .menu:last-child {
      margin-bottom: 0; }
    @media (min-width: 64em) {
      .footer .copyright,
      .footer .menu {
        margin-bottom: 0;
        margin-top: 0; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .footer .copyright {
      width: 48.93617%;
      float: left;
      margin-right: 2.12766%; } }
  @media (min-width: 85.375em) {
    .footer .copyright {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .footer .menu {
      width: 23.40426%;
      float: left;
      margin-right: 2.12766%; }
      .footer .menu:last-child {
        float: right;
        margin-right: 0; } }
  @media (min-width: 85.375em) {
    .footer .menu {
      width: 23.07692%;
      float: left;
      margin-right: 2.5641%; }
      .footer .menu:last-child {
        float: right;
        margin-right: 0; } }

.header {
  *zoom: 1;
  border-bottom: 1px solid #eee;
  padding: 1.16667em;
  position: relative; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .brand {
    margin-bottom: 0;
    margin-top: 0; }
    @media (min-width: 64em) {
      .header .brand {
        float: left; } }
  .header .navigation {
    margin: 0 -1.16667em; }
    @media (min-width: 64em) {
      .header .navigation {
        float: right;
        margin-left: 0;
        margin-right: 0; } }
  .header .navigation > section {
    margin-bottom: -1.22222em; }
    @media (min-width: 64em) {
      .header .navigation > section {
        margin-bottom: 0; } }
  .header .navigation > section > ul > li:last-child {
    border-bottom: 0; }
  .header .navigation input[type="checkbox"] {
    position: absolute;
    right: 1.16667em;
    top: 0.88889em; }

.hero {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  max-width: 43.33333em; }
  @media (min-width: 48em) {
    .hero {
      margin-top: 2.33333em;
      margin-bottom: 2.33333em; } }
  .hero:first-child {
    margin-top: 0; }
  .hero:last-child {
    margin-bottom: 0; }
  .hero a {
    text-decoration: underline;
    text-decoration-skip: ink; }
  @media (min-width: 64em) {
    .hero h1 {
      font-size: 2.66667em;
      line-height: 1.25; }
      .hero h1:first-child {
        margin-top: 0; }
      .hero h1:last-child {
        margin-bottom: 0; } }
  .hero p {
    font-size: 1.33333em;
    line-height: 1.5;
    margin-top: 0.875em;
    margin-bottom: 0.875em; }
    .hero p:first-child {
      margin-top: 0; }
    .hero p:last-child {
      margin-bottom: 0; }

.lede p {
  font-size: 1.33333em;
  line-height: 1.5;
  margin-top: 0.875em;
  margin-bottom: 0.875em; }
  .lede p:first-child {
    margin-top: 0; }
  .lede p:last-child {
    margin-bottom: 0; }

.list {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .list:first-child {
    margin-top: 0; }
  .list:last-child {
    margin-bottom: 0; }
  @media (min-width: 64em) {
    .list h2 {
      font-size: 2em;
      line-height: 1.27778;
      margin-bottom: 0.58333em;
      margin-top: 0.58333em;
      margin-bottom: 0.58333em;
      text-align: center; } }
  @media (min-width: 64em) and (min-width: 48em) {
    .list h2 {
      margin-top: 1.16667em;
      margin-bottom: 1.16667em; } }
  @media (min-width: 64em) and (min-width: 64em) {
    .list h2 {
      margin-top: 1.75em;
      margin-bottom: 1.75em; } }
  @media (min-width: 64em) {
      .list h2:first-child {
        margin-top: 0; }
      .list h2:last-child {
        margin-bottom: 0; } }
  .list h3 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-size: 0.77778em;
    line-height: 1.42857;
    margin-top: 0.58333em;
    margin-bottom: 0.58333em;
    font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .list h3:first-child {
      margin-top: 0; }
    .list h3:last-child {
      margin-bottom: 0; }
    .list h3:first-child {
      margin-top: 0; }
    .list h3:last-child {
      margin-bottom: 0; }
  .list svg {
    fill: #FF4136;
    height: 2.22222em;
    width: 2.22222em; }
    @media (min-width: 64em) {
      .list svg {
        float: left; } }
  .list p {
    margin: 0; }
  .list > ul,
  .list > ul > li {
    display: block;
    margin: 0;
    padding: 0; }
  .list > ul {
    *zoom: 1; }
    .list > ul:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 64em) {
      .list > ul {
        margin-top: -2.33333em; } }
  .list > ul > li {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em; }
    .list > ul > li:first-child {
      margin-top: 0; }
    .list > ul > li:last-child {
      margin-bottom: 0; }
    @media (min-width: 64em) {
      .list > ul > li {
        margin-bottom: 0;
        margin-top: 2.33333em;
        position: relative;
        padding-left: 3.33333em; } }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .list > ul > li {
        width: 48.93617%;
        float: left; }
        .list > ul > li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .list > ul > li:nth-child(2n + 2) {
          margin-left: 51.06383%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 85.375em) {
      .list > ul > li {
        width: 31.62393%;
        float: left; }
        .list > ul > li:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .list > ul > li:nth-child(3n + 2) {
          margin-left: 34.18803%;
          margin-right: -100%;
          clear: none; }
        .list > ul > li:nth-child(3n + 3) {
          margin-left: 68.37607%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 64em) {
      .list > ul > li:first-child {
        margin-top: 2.33333em; } }
    @media (min-width: 64em) {
      .list > ul > li svg {
        left: 0;
        position: absolute;
        top: 0; } }

.menu {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .menu:first-child {
    margin-top: 0; }
  .menu:last-child {
    margin-bottom: 0; }
  .menu h6 {
    font-size: 0.77778em;
    line-height: 1.42857;
    margin: 0; }
    @media (min-width: 64em) {
      .menu h6 {
        margin-top: 0.75em;
        margin-bottom: 0.75em; }
        .menu h6:first-child {
          margin-top: 0; }
        .menu h6:last-child {
          margin-bottom: 0; } }
  .menu a {
    font-size: 0.88889em;
    line-height: 1.5; }
  .menu ul {
    margin: 0;
    padding: 0; }
  .menu li {
    display: inline-block;
    margin-left: .5em; }
    @media (min-width: 64em) {
      .menu li {
        display: block;
        margin-left: 0; } }
    .menu li:first-child {
      margin-left: 0; }
  .menu li.is-active a {
    color: #222; }

.navigation {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  .navigation:first-child {
    margin-top: 0; }
  .navigation:last-child {
    margin-bottom: 0; }
  .navigation a {
    font-size: 0.77778em;
    line-height: 1.42857;
    display: inline-block;
    color: #222;
    font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
    .navigation a:hover, .navigation a:focus {
      color: #0074D9;
      text-decoration: underline; }
    .navigation a.router-link-active {
      color: #aaa; }
  .navigation > section {
    display: none; }
    @media (min-width: 64em) {
      .navigation > section {
        display: block; } }
  .navigation > section > ul {
    margin: 0;
    padding: 0; }
  .navigation > section > ul > li {
    border-top: 1px solid #ddd;
    display: block;
    padding: 0.58333em 1.16667em; }
    @media (min-width: 64em) {
      .navigation > section > ul > li {
        border: 0;
        display: inline-block;
        margin-right: 1em;
        padding: 0; } }
    .navigation > section > ul > li:last-child {
      border-bottom: 1px solid #ddd; }
      @media (min-width: 64em) {
        .navigation > section > ul > li:last-child {
          border-bottom: 0;
          margin-right: 0; } }
  .navigation > section > ul > li.is-active a {
    color: #aaa; }
  .navigation > section > ul > li.is-callout {
    padding-bottom: 1.16667em;
    padding-top: 1.16667em; }
    @media (min-width: 64em) {
      .navigation > section > ul > li.is-callout {
        padding-bottom: 0;
        padding-top: 0; } }
  .navigation > section > ul > li.is-callout > a {
    font-size: 0.66667em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    border: 2px solid #0074D9;
    color: #0074D9;
    padding: 0.33333em 0.83333em; }
    .navigation > section > ul > li.is-callout > a:hover, .navigation > section > ul > li.is-callout > a:focus {
      background-color: #0074D9;
      color: white;
      text-decoration: none; }
  .navigation input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNiAxMmMwIDEuNjU3LTEuMzQzIDMtMyAzcy0zLTEuMzQzLTMtMyAxLjM0My0zIDMtMyAzIDEuMzQzIDMgM3ptOSAwYzAgMS42NTctMS4zNDMgMy0zIDNzLTMtMS4zNDMtMy0zIDEuMzQzLTMgMy0zIDMgMS4zNDMgMyAzem05IDBjMCAxLjY1Ny0xLjM0MyAzLTMgM3MtMy0xLjM0My0zLTMgMS4zNDMtMyAzLTMgMyAxLjM0MyAzIDN6Ii8+PC9zdmc+);
    background-position: center center;
    height: 1.55556em;
    margin-right: 0;
    width: 1.33333em; }
    @media (min-width: 64em) {
      .navigation input[type="checkbox"] {
        display: none; } }
    .navigation input[type="checkbox"]:hover, .navigation input[type="checkbox"]:checked {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5;
      cursor: pointer; }
    .navigation input[type="checkbox"]:focus {
      outline: none; }
  .navigation input[type="checkbox"]:checked + section {
    display: block;
    margin-top: 1.16667em; }
    @media (min-width: 64em) {
      .navigation input[type="checkbox"]:checked + section {
        margin-top: 0; } }

.portfolio {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  @media (min-width: 48em) {
    .portfolio {
      margin-top: 2.33333em;
      margin-bottom: 2.33333em; } }
  @media (min-width: 64em) {
    .portfolio {
      margin-top: 3.5em;
      margin-bottom: 3.5em; } }
  .portfolio:first-child {
    margin-top: 0; }
  .portfolio:last-child {
    margin-bottom: 0; }
  .portfolio > section > h3,
  .portfolio > section > p {
    margin-bottom: 0;
    margin-top: 0; }
  .portfolio > section > h3 {
    font-size: inherit;
    line-height: inherit; }
  .portfolio > section > ul {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em;
    *zoom: 1;
    display: block;
    padding: 0; }
    .portfolio > section > ul:first-child {
      margin-top: 0; }
    .portfolio > section > ul:last-child {
      margin-bottom: 0; }
    .portfolio > section > ul:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 64em) {
      .portfolio > section > ul {
        margin-top: 1.75em;
        margin-bottom: 1.75em; }
        .portfolio > section > ul:first-child {
          margin-top: 0; }
        .portfolio > section > ul:last-child {
          margin-bottom: 0; } }
  .portfolio > section > ul > li {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em;
    display: block; }
    .portfolio > section > ul > li:first-child {
      margin-top: 0; }
    .portfolio > section > ul > li:last-child {
      margin-bottom: 0; }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .portfolio > section > ul > li {
        margin-top: 1.75em;
        margin-bottom: 1.75em;
        width: 48.93617%;
        float: left;
        margin-bottom: 0; }
        .portfolio > section > ul > li:first-child {
          margin-top: 0; }
        .portfolio > section > ul > li:last-child {
          margin-bottom: 0; }
        .portfolio > section > ul > li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .portfolio > section > ul > li:nth-child(2n + 2) {
          margin-left: 51.06383%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 85.375em) {
      .portfolio > section > ul > li {
        margin-top: 1.75em;
        margin-bottom: 1.75em;
        width: 48.71795%;
        float: left;
        margin-bottom: 0; }
        .portfolio > section > ul > li:first-child {
          margin-top: 0; }
        .portfolio > section > ul > li:last-child {
          margin-bottom: 0; }
        .portfolio > section > ul > li:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .portfolio > section > ul > li:nth-child(2n + 2) {
          margin-left: 51.28205%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .portfolio > section > ul > li:nth-child(-n + 2) {
        margin-top: 0; } }
    @media (min-width: 85.375em) {
      .portfolio > section > ul > li:nth-child(-n + 2) {
        margin-top: 0; } }
  .portfolio > section > ul > li p {
    margin: 0; }
  .portfolio > section > ul > li > p:first-child {
    font-size: 0.77778em;
    line-height: 1.42857;
    margin-top: 0.58333em;
    margin-bottom: 0.58333em;
    font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0.375em;
    margin-bottom: 0.375em; }
    .portfolio > section > ul > li > p:first-child:first-child {
      margin-top: 0; }
    .portfolio > section > ul > li > p:first-child:last-child {
      margin-bottom: 0; }
    .portfolio > section > ul > li > p:first-child:first-child {
      margin-top: 0; }
    .portfolio > section > ul > li > p:first-child:last-child {
      margin-bottom: 0; }

.section {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em;
  border-bottom: 1px solid #eee;
  padding-top: 1.16667em;
  padding-bottom: 1.16667em; }
  .section:first-child {
    margin-top: 0; }
  .section:last-child {
    margin-bottom: 0; }
  @media (min-width: 64em) {
    .section {
      padding-top: 4.66667em;
      padding-bottom: 4.66667em; } }
  @media (min-width: 64em) {
    .section h2 {
      font-size: 2em;
      line-height: 1.27778;
      margin-bottom: 0.58333em;
      margin-top: 0.58333em;
      margin-bottom: 0.58333em;
      text-align: center; } }
  @media (min-width: 64em) and (min-width: 48em) {
    .section h2 {
      margin-top: 1.16667em;
      margin-bottom: 1.16667em; } }
  @media (min-width: 64em) {
      .section h2:first-child {
        margin-top: 0; }
      .section h2:last-child {
        margin-bottom: 0; } }
  .section ul > li {
    display: block;
    margin: 0;
    padding: 0; }
  .section ul {
    *zoom: 1; }
    .section ul:after {
      content: "";
      display: table;
      clear: both; }
  .section ul > li {
    margin-top: 1.16667em;
    margin-bottom: 1.16667em; }
    .section ul > li:first-child {
      margin-top: 0; }
    .section ul > li:last-child {
      margin-bottom: 0; }
    @media (min-width: 64em) {
      .section ul > li {
        margin-bottom: 0;
        margin-top: 1.16667em;
        position: relative;
        padding-left: 3.33333em; } }
    @media (min-width: 64em) and (max-width: 85.3125em) {
      .section ul > li {
        width: 31.91489%;
        float: left; }
        .section ul > li:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .section ul > li:nth-child(3n + 2) {
          margin-left: 34.04255%;
          margin-right: -100%;
          clear: none; }
        .section ul > li:nth-child(3n + 3) {
          margin-left: 68.08511%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 85.375em) {
      .section ul > li {
        width: 14.52991%;
        float: left; }
        .section ul > li:nth-child(6n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .section ul > li:nth-child(6n + 2) {
          margin-left: 17.09402%;
          margin-right: -100%;
          clear: none; }
        .section ul > li:nth-child(6n + 3) {
          margin-left: 34.18803%;
          margin-right: -100%;
          clear: none; }
        .section ul > li:nth-child(6n + 4) {
          margin-left: 51.28205%;
          margin-right: -100%;
          clear: none; }
        .section ul > li:nth-child(6n + 5) {
          margin-left: 68.37607%;
          margin-right: -100%;
          clear: none; }
        .section ul > li:nth-child(6n + 6) {
          margin-left: 85.47009%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 64em) {
      .section ul > li:first-child {
        margin-top: 1.16667em; } }

.layout--single-short .content {
  padding-left: 1em;
  padding-right: 1em; }
  @media (max-width: 47.9375em) {
    .layout--single-short .content {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-short .content:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) and (max-width: 63.9375em) {
    .layout--single-short .content {
      max-width: 35.55556em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-short .content:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .layout--single-short .content {
      max-width: 52.22222em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-short .content:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 85.375em) {
    .layout--single-short .content {
      max-width: 65em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-short .content:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) {
    .layout--single-short .content {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .layout--single-short .content .content__inner {
      padding-left: 17.02128%;
      padding-right: 17.02128%; } }
  @media (min-width: 85.375em) {
    .layout--single-short .content .content__inner {
      padding-left: 17.09402%;
      padding-right: 17.09402%; } }

.layout--single-wide .content__inner {
  padding-left: 1em;
  padding-right: 1em; }
  @media (max-width: 47.9375em) {
    .layout--single-wide .content__inner {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-wide .content__inner:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) and (max-width: 63.9375em) {
    .layout--single-wide .content__inner {
      max-width: 35.55556em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-wide .content__inner:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    .layout--single-wide .content__inner {
      max-width: 52.22222em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-wide .content__inner:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 85.375em) {
    .layout--single-wide .content__inner {
      max-width: 65em;
      margin-left: auto;
      margin-right: auto; }
      .layout--single-wide .content__inner:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) {
    .layout--single-wide .content__inner {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 85.375em) {
  body.context--about .content__inner {
    padding-top: 0; } }

body.context--about .callout {
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  @media (min-width: 48em) {
    body.context--about .callout {
      margin-top: 2.33333em;
      margin-bottom: 2.33333em; } }
  @media (min-width: 64em) {
    body.context--about .callout {
      margin-top: 3.5em;
      margin-bottom: 3.5em; } }
  @media (min-width: 85.375em) {
    body.context--about .callout {
      margin-top: 0em;
      margin-bottom: 0em; } }
  body.context--about .callout:first-child {
    margin-top: 0; }
  body.context--about .callout:last-child {
    margin-bottom: 0; }

body.context--about .list,
body.context--about .section section {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1.16667em;
  margin-bottom: 1.16667em; }
  @media (max-width: 47.9375em) {
    body.context--about .list,
    body.context--about .section section {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .list:after,
      body.context--about .section section:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) and (max-width: 63.9375em) {
    body.context--about .list,
    body.context--about .section section {
      max-width: 35.55556em;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .list:after,
      body.context--about .section section:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    body.context--about .list,
    body.context--about .section section {
      max-width: 52.22222em;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .list:after,
      body.context--about .section section:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 85.375em) {
    body.context--about .list,
    body.context--about .section section {
      max-width: 65em;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .list:after,
      body.context--about .section section:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 48em) {
    body.context--about .list,
    body.context--about .section section {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 48em) {
    body.context--about .list,
    body.context--about .section section {
      margin-top: 2.33333em;
      margin-bottom: 2.33333em; } }
  @media (min-width: 64em) {
    body.context--about .list,
    body.context--about .section section {
      margin-top: 3.5em;
      margin-bottom: 3.5em; } }
  @media (min-width: 85.375em) {
    body.context--about .list,
    body.context--about .section section {
      margin-top: 4.66667em;
      margin-bottom: 4.66667em; } }
  body.context--about .list:first-child,
  body.context--about .section section:first-child {
    margin-top: 0; }
  body.context--about .list:last-child,
  body.context--about .section section:last-child {
    margin-bottom: 0; }

body.context--about .callout {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 48em) {
    body.context--about .callout {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 48em) and (max-width: 63.9375em) {
    body.context--about .callout {
      max-width: 35.55556em;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .callout:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) and (max-width: 85.3125em) {
    body.context--about .callout {
      max-width: 52.22222em;
      margin-left: auto;
      margin-right: auto; }
      body.context--about .callout:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 85.375em) {
    body.context--about .callout section,
    body.context--about .callout picture {
      height: calc(100vh - 4.05556em); } }

/*# sourceMappingURL=app.css.map */