/* Global */

html,
body {
    color: #111;
    line-height: 1.5;
}

html,
body,
code {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */

h1 {
    font-size: 2em;
    line-height: 1.5;
}

a {
    color: #1e90ff;
    font-weight: 700;
}

a:hover,
a:focus {
    color: #CF000F;
}

pre,
code {
    font-family: monospace;
}

pre {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 1em;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    background-color: transparent;
    overflow: auto;
}

@media (min-width: 50em) {

    pre {
        margin-left: -1em;
        margin-right: -1em;
    }
}

code {
    color: #e65722;
    font-weight: 700;
}

pre code {
    display: block;
    font-weight: 400;
    background-color: transparent;
}

a code {
    color: inherit;
}

img {
    max-width: 100%;
}

hr {
    height: 1px;
    background: #ddd;
    border: none;
    line-height: 1;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    font-size: 1.25em;
    font-style: italic;
}

/* Region */

header[role="banner"],
main[role="main"],
footer[role="contentinfo"],
header[role="banner"] + hr,
main[role="main"] + hr,
footer[role="contentinfo"] + hr {
    max-width: 40em;
    margin: 2em auto;
    padding-left: 1em;
    padding-right: 1em;
}

header[role="banner"] > * {
    display: inline-block;
}

header[role="banner"] p {
    margin-bottom: 0;
}

header[role="banner"] .logo {
    position: relative;
    margin-right: .5em;
    vertical-align: middle;
}

header[role="banner"] .logo:before {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    background-image: url('../img/logo.png');
    background-size: cover;
    vertical-align: middle;
}

@media (min-width: 50em) {
    header[role="banner"] .logo:before {
        height: 40px;
        width: 40px;
    }
}

/* Nav */

nav a {
    margin-right: .5em;
    font-weight: bold;
}

/* Logo */

.logo {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

main[role="main"] > article img {
    box-shadow: 0 0 4px 0 #d0d0d0;
    border-radius: 2px;
    display: block;
}

/* Highlight */

.highlight {
    margin-top: 2em;
    margin-bottom: 2em;
}

.highlight pre {
    margin-top: 0;
    margin-bottom: 0;
}

.highlight code {
    color: inherit;
}

