/* Global */

html,
body {
    color: #444;
    line-height: 1.4;
}

@media (min-width: 50em) {

    html,
    body {
        font-size: 107.5%;
    }
}

html,
body,
code {
    font-family: serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
}

a {
    color: #1e90ff;
    font-weight: 700;
}

a:hover,
a:focus {
    color: #CF000F;
}

pre,
code {
    font-family: monospace;
}

pre {
    padding: 1em;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    background-color: #f7f7f7;
    overflow: auto;
}

@media (min-width: 50em) {

    pre {
        margin-left: -1em;
        margin-right: -1em;
    }
}

pre code {
    display: block;
}

code {
    color: #e65722;
    font-weight: 700;
}

a code {
    color: inherit;
}

img {
    max-width: 100%;
}

hr {
    height: 1px;
    background: #ddd;
    border: none;
    line-height: 1;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    font-size: 1.25em;
}

/* Region */

header[role="banner"],
main[role="main"],
footer[role="contentinfo"],
header[role="banner"] + hr,
main[role="main"] + hr,
footer[role="contentinfo"] + hr {
    max-width: 34em;
    margin: 2em auto;
    padding-left: 1em;
    padding-right: 1em;
}

header[role="banner"] > * {
    display: inline-block;
}

header[role="banner"] p {
    margin-bottom: 0;
}

header[role="banner"] .logo {
    margin-right: .5em;
}

/* Nav */

nav a {
    margin-right: .5em;
    font-family: monospace;
}

/* Logo */

.logo {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

.logo:after {
    content: "(){}";
}

/* Highlight */

.highlight code {
    color: inherit;
}

.highlight .hll {
    background-color: #EFEFEF;
}

.highlight .c {
    color: #929292;
}

.highlight .err {
    background: #C82829;
    color: #FFFFFF;
}

.highlight .k {
    color: #8959A8;
}

.highlight .l {
    color: #F5871F;
}

.highlight .n {
    color: #929292;
}

.highlight .o {
    color: #545454;
}

.highlight .p {
    color: #929292;
}

.highlight .cm {
    color: #929292;
}

.highlight .cp {
    color: #929292;
}

.highlight .c1 {
    color: #929292;
}

.highlight .cs {
    color: #929292;
}

.highlight .gd {
    color: #C82829;
}

.highlight .gh {
    color: #545454;
}

.highlight .gi {
    color: #718C00;
}

.highlight .gp {
    color: #718C00;
}

.highlight .gu {
    color: #3E999F;
}

.highlight .kc {
    color: #8959A8;
}

.highlight .kd {
    color: #8959A8;
}

.highlight .kn {
    color: #3E999F;
}

.highlight .kp {
    color: #4271AE;
}

.highlight .kr {
    color: #8959A8;
}

.highlight .kt {
    color: #EAB700;
}

.highlight .ld {
    color: #718C00;
}

.highlight .m {
    color: #F5871F;
}

.highlight .s {
    color: #718C00;
}

.highlight .na {
    color: #4271AE;
}

.highlight .nb {
    color: #4271AE;
}

.highlight .nc {
    color: #EAB700;
}

.highlight .no {
    color: #EAB700;
}

.highlight .nd {
    color: #3E999F;
}

.highlight .ni {
    color: #545454;
}

.highlight .ne {
    color: #C82829;
}

.highlight .nf {
    color: #4271AE;
}

.highlight .nl {
    color: #545454;
}

.highlight .nn {
    color: #EAB700;
}

.highlight .nx {
    color: #4271AE;
}

.highlight .py {
    color: #545454;
}

.highlight .nt {
    color: #3E999F;
}

.highlight .nv {
    color: #C82829;
}

.highlight .ow {
    color: #3E999F;
}

.highlight .w {
    color: #545454;
}

.highlight .mf {
    color: #F5871F;
}

.highlight .mh {
    color: #F5871F;
}

.highlight .mi {
    color: #F5871F;
}

.highlight .mo {
    color: #F5871F;
}

.highlight .sb {
    color: #718C00;
}

.highlight .sc {
    color: #545454;
}

.highlight .sd {
    color: #929292;
}

.highlight .s2 {
    color: #718C00;
}

.highlight .se {
    color: #F5871F;
}

.highlight .sh {
    color: #718C00;
}

.highlight .si {
    color: #F5871F;
}

.highlight .sx {
    color: #718C00;
}

.highlight .sr {
    color: #718C00;
}

.highlight .s1 {
    color: #718C00;
}

.highlight .ss {
    color: #718C00;
}

.highlight .bp {
    color: #545454;
}

.highlight .vc {
    color: #C82829;
}

.highlight .vg {
    color: #C82829;
}

.highlight .vi {
    color: #C82829;
}

.highlight .il {
    color: #F5871F;
}
