<div class="list list--secondary">
    <h2>I Integrate With Teams</h2>
    <ul>
        <li>
            <h3>Communication</h3>
            <p>I’m an advocate for close communication with everyone involved. I use <mark>Slack</mark> and <mark>Google Hangouts</mark>.</p>
        </li>
        <li>
            <h3>Collaboration</h3>
            <p>I work well in <mark>Agile</mark> teams and play nicely with other developers, designers, UX and project managers.</p>
        </li>
        <li>
            <h3>Time &amp; Project Management</h3>
            <p>We need to stay on top of where we are and where we are going. I use <mark>Jira</mark> for managing project timelines and tasks.</p>
        </li>
        <li>
            <h3>Documentation</h3>
            <p>All decisions, ideas and technical notes should be available to everyone at all times. I use <mark>Confluence</mark> for project documentation.</p>
        </li>
        <li>
            <h3>Code Management</h3>
            <p>I believe in effective git workflows and pull requests. I use <mark>GitHub</mark> and <mark>BitBucket</mark> for code management.</p>
        </li>
        <li>
            <h3>Local or Remote Work</h3>
            <p>I usually work remotely. If you are also based in <mark>Sydney</mark>, I can drop in and say hello or work on one of your desks.</p>
        </li>
    </ul>
</div>
