<div class="portfolio">
    <h2>Client Solutions</h2>
    <section>
        <h3>Digital Garden</h3>
        <p>I worked on the following projects whilst employed at <a href="https://digitalgarden.com.au">Digital Garden</a>:</p>
        <ul>
            <li>
                <p><a href="http://www.msf.org.au/">Médecins Sans Frontières (Doctors Without Borders)</a></p>
                <p>The world's leading independent organisation for medical humanitarian aid. I provided frontend and backend services for this Drupal 7 build.</p>
            </li>
            <li>
                <p><a href="https://doctorshealthfund.com.au">Doctor's Health Fund</a></p>
                <p>A private health insurer serving the Australian medical community. I provided frontend and backend services for this Drupal 8 project, including <mark>Angular</mark> development.</p>
            </li>
            <li>
                <p><a href="https://gradaustralia.com.au">GradAustralia</a></p>
                <p>Australia's leading graduate advice and recruitment specialists. I provided frontend and backend services for this Drupal 7 project, including <mark>multi-site</mark> development.</p>
            </li>
            <li>
                <p><a href="https://www.digitalgarden.com.au">Digital Garden</a></p>
                <p>A Sydney based full service Digital Agency, specialising in Drupal solutions. I provided frontend services for this Drupal 7 project.</p>
            </li>
            <li>
                <p><a href="http://www.summerlawyers.com.au">Summer Lawyers</a></p>
                <p>Australian mortgage and property law specialists. I provided frontend and backend services for this Drupal 8 project.</p>
            </li>
            <li>
                <p><a href="http://www.makdap.com.au">Makinson d’Apice Lawyers</a></p>
                <p>Australian law firm providing commercial acumen, business pragmatism and legal expertise. I provided frontend services for this Drupal 7 project.</p>
            </li>
            <li>
                <p><a href="http://www.breezesmuirhead.com.au">Breezes Muirhead</a></p>
                <p>A property development based in Darwin by Investa and Defence Housing Australia. I provided frontend services for this Drupal 7 project.</p>
            </li>
            <li>
                <p>Abacus Retail</p>
                <p>A collection of Abacus owned shopping centres, including <a href="http://www.oasisshoppingcentre.com.au">The Oasis</a>, <a href="http://www.ashfieldmall.com.au">Ashfield Mall</a> and <a href="http://www.liverpoolplaza.com.au">Liverpool Plaza</a>. I provided backend and frontend services for this <mark>multi-site</mark> Drupal 7 project.</p>
            </li>
            <li>
                <p><a href="http://www.suva.com.au">Sydney's Unique Venues Association</a></p>
                <p>A  collaboration of over 60 unique venues in and around Sydney. I provided frontend services for this Drupal 7 project.</p>
            </li>
            <li>
                <p><a href="http://www.jana.com.au">JANA</a></p>
                <p>A leading Australian investment consulting firm. I provided frontend services for this Drupal 7 project.</p>
            </li>
            <li>
                <p><a href="http://www.shakespearereloaded.edu.au">Shakespeare Reloaded</a></p>
                <p>An academic team exploring alternative Shakespeare teaching methods. I provided frontend and backend services for this Drupal 7 project.</p>
            </li>
        </ul>
    </section>
</div>
