<div class="portfolio">
    <h2>Open Source Projects</h2>
    <section>
        <ul>
            <li>
                <p><a href="https://www.drupal.org/project/titus">Titus</a></p>
                <p>A better Drupal 8 administration theme.</p>
            </li>
            <li>
                <p><a href="https://www.drupal.org/project/context_layout">Context Layout</a></p>
                <p>Integrates layout functionality with the <a href="https://www.drupal.org/project/context">context</a> module.</p>
            </li>
            <li>
                <p><a href="https://github.com/ellioseven/docker-image-templating-system">Docker Image Templating System</a></p>
                <p>A tiny framework for developing Docker images.</p>
            </li>
            <li>
                <p><a href="https://github.com/ellioseven/type-heading">Type Heading</a></p>
                <p>Manage responsive typography.</p>
            </li>
            <li>
                <p><a href="https://github.com/ellioseven/sass-units-translate">Sass Units Translate</a></p>
                <p>Convert css units.</p>
            </li>
        </ul>
    </section>
</div>
