<div class="section section--technology">
    <section>
        <h2>Technologies In Production</h2>
        <ul>
            <li>ES6/Node.js</li>
            <li>React</li>
            <li>Next.js</li>
            <li>Apollo/GraphQL</li>
            <li>MongoDB</li>
            <li>Express</li>
            <li>Storybook</li>
            <li>Jest</li>
            <li>Cypress</li>
            <li>Webpack</li>
            <li>Babel</li>
            <li>Git</li>
            <li>Linux</li>
            <li>Ansible</li>
            <li>Docker</li>
            <li>Auth0</li>
            <li>Platform.sh</li>
            <li>Lighthouse</li>
        </ul>
    </section>
</div>
