.brand {
  @include type-leader;
  @include type-leader-clear;

  a {
    background: url('/img/logo.svg');
    background-size: cover;
    display: block;
    height: em(23px);
    overflow: hidden;
    text-align: left;
    text-indent: -999999px;
    width: em(100px);
    @include breakpoint($breakpoint-large) {
      height: em(28px);
      width: em(122px);
    }
  }
}
