.list {
  @include type-leader;
  @include type-leader-clear;

  h2 {
    @include breakpoint($breakpoint-large) {
      $base: th-base(mike);
      @include th-h($heading: mike, $include: font-size line-height margin-bottom);
      @include type-leader-step($steps: 1 2 3, $base: $base);
      @include type-leader-clear;
      text-align: center;
    }
  }

  h3 {
    $base: th-base(saul);
    @include type-leader($step: .5, $base: $base);
    @include type-leader-clear;
    @include type-drop;
  }

  svg {
    fill: $color-red-royal;
    height: em(40px);
    width: em(40px);
    @include breakpoint($breakpoint-large) {
      float: left;
    }
  }

  p {
    margin: 0;
  }

  > ul,
  > ul > li {
    display: block;
    margin: 0;
    padding: 0;
  }

  > ul {
    @include pie-clearfix;
    @include breakpoint($breakpoint-large) {
      margin-top: -#{em($base-vertical-margin * 2)};
    }
  }

  > ul > li {
    @include type-leader;
    @include type-leader-clear;
    @include breakpoint($breakpoint-large) {
      margin-bottom: 0;
      margin-top: em($base-vertical-margin * 2);
      position: relative;
      padding-left: em(60px);
    }

    @include layout-with-layouts($breakpoint-large) {
      @include gallery(6);
    }

    @include layout-with-layouts($breakpoint-large-x) {
      @include gallery(4);
    }

    &:first-child {
      @include breakpoint($breakpoint-large) {
        margin-top: em($base-vertical-margin * 2);
      }
    }

    svg {
      @include breakpoint($breakpoint-large) {
        left: 0;
        position: absolute;
        top: 0;
      }
    }
  }
}
