$color-white: #fff;
$color-grey-abyss: #111;
$color-grey-silver: #aaa;
$color-grey-cement: #ddd;
$color-black: #000;

$color-blue-malibu: #0074D9;
$color-red-royal: #FF4136;
$color-yellow-sun: #ffdc00;

$color-body: $color-grey-abyss;
$color-display: $color-grey-abyss;
$color-link: $color-blue-malibu;
$color-link-hover: $color-grey-abyss;
